Observations:

-Majority of players are males at 84%, far fewer females at 14%. However, women spend more per person than man ($4.47 for women vs. $4.04 for men).  The highest spends and highest total amount paid per customer are in the 20-24 yr old range.
 
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
pd.options.display.float_format = '\${:.2f}'.format
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",\$3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,\$1.56
2,2,Ithergue48,24,Male,92,Final Critic,\$4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,\$3.27
4,4,Iskosia90,23,Male,131,Fury,\$1.44

## Player Count

* Display the total number of players

In [2]:
player_count = {'Total Players': [purchase_data['SN'].nunique()]}
total_players_output= pd.DataFrame(player_count)
total_players_output

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
purchase_analysis = {'Number of Unique Items' : [purchase_data['Item ID'].nunique()],
                     'Avg Price' : [purchase_data['Price'].mean()],
                     'Number of Purchases': [purchase_data['Price'].count()],
                    'Total Revenue': [purchase_data['Price'].sum()]}
purchasing_analysis_output= pd.DataFrame(purchase_analysis)

purchasing_analysis_output.round(2)

   Number of Unique Items  Avg Price  Number of Purchases  Total Revenue
0                     183     \$3.05                  780      \$2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
#tried to this all in one code, but I think I could've just done the total count by gender as one df and the percentage of total as another df and combined them into a new df 
purchase_data_SN = purchase_data[['SN','Gender']]
gender_output = purchase_data_SN.groupby(['Gender'])
df_gender_output=pd.DataFrame(gender_output['SN'].nunique().head())
df_gender_output_column_renamed=df_gender_output.rename(columns={"SN":"Total Count"})
df_gender_output_column_renamed
percentage_players = df_gender_output_column_renamed["Total Count"] / df_gender_output_column_renamed["Total Count"].sum()
df_gender_output_column_renamed["Percentage Players"]=percentage_players
df_gender_output_column_renamed["Percentage Players"]=df_gender_output_column_renamed["Percentage Players"].map("{:.2%}".format)
df_gender_output_column_renamed.head()

                       Total Count Percentage Players
Gender
Female                          81             14.06%
Male                           484             84.03%
Other / Non-Disclosed           11              1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
#started using 'df' convention after googling this a million times.  Starting to get why it matters. 
gender_purchases_df = purchase_data.groupby("Gender")["Purchase ID"].count()
gender_purchases_df.round(2)

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [8]:
#average unit price - total divided by number of purchases.  some people might buy more than one thing, so it's not an avg per person in this case. 
gender_average_df = purchase_data.groupby("Gender")["Price"].mean()
gender_average_df.round(2)

Gender
Female                  \$3.20
Male                    \$3.02
Other / Non-Disclosed   \$3.35
Name: Price, dtype: float64

In [9]:
#total per gender type - this is the first step in getting avg per customer per gender 
gender_total_df = purchase_data.groupby("Gender")["Price"].sum()
gender_total_df.round(2)

Gender
Female                   \$361.94
Male                    \$1967.64
Other / Non-Disclosed     \$50.19
Name: Price, dtype: float64

In [10]:
#now I'm making a different version of the "count of gender" thing that I did above so that I can use it to divide here.  I can't use what I did up there becuase it's too complex to bring down here. 
gender_count_df = purchase_data.groupby("Gender")["SN"].nunique()
gender_count_df.round(2)

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [11]:
#avg purchase per customer by gender
customer_gender_total_df = gender_total_df/gender_count_df
customer_gender_total_df.round(2)

Gender
Female                  \$4.47
Male                    \$4.07
Other / Non-Disclosed   \$4.56
dtype: float64

In [12]:
#put into a dataframe
gender_analysis_df = pd.DataFrame({"Number of Purchases":gender_purchases_df,
                                   "Average Purchase Price":gender_average_df,
                                   "Total Price":gender_total_df,
                                   "Avg per customer":customer_gender_total_df})
gender_analysis_df

,Number of Purchases,Average Purchase Price,Total Price,Avg per customer
Gender,,,,
Female,113,\$3.20,\$361.94,\$4.47
Male,652,\$3.02,\$1967.64,\$4.07
Other / Non-Disclosed,15,\$3.35,\$50.19,\$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [13]:
#Create bins in which data will be held. Bins are <10, 10-14, 15-19, 20-24, 25-29, 30-34, 35-39 >39.

bins = [0,9,14,19,24,29,34,39,100]
age_ranges = ["<10", "10-14","15-19", "20-24", "25-29", "30-34", "35-39", ">=40"]

In [14]:
# Cut purchase data and place the ages into bins
purchase_data["Age Range"] = pd.cut(purchase_data["Age"], bins, labels=age_ranges)

In [15]:
age_summary_df = purchase_data.groupby("Age Range")["SN"].nunique()
age_summary_df.round(2)

Age Range
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
>=40      12
Name: SN, dtype: int64

In [16]:
age_percentage_df=age_summary_df / purchase_data['SN'].nunique()
age_analysis_df = pd.DataFrame({"Total Count":age_summary_df,
                               "percentage":age_percentage_df})
age_analysis_df["percentage"]=age_analysis_df["percentage"].map("{:.2%}".format)
age_analysis_df

           Total Count percentage
Age Range
<10                 17      2.95%
10-14               22      3.82%
15-19              107     18.58%
20-24              258     44.79%
25-29               77     13.37%
30-34               52      9.03%
35-39               31      5.38%
>=40                12      2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [17]:
age_group_count_df = purchase_data.groupby("Age Range")["Item Name"].count()
age_group_count_df

Age Range
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
>=40      13
Name: Item Name, dtype: int64

In [18]:
age_group_average_df = purchase_data.groupby("Age Range")["Price"].mean()
age_group_average_df.round(2)

Age Range
<10     \$3.35
10-14   \$2.96
15-19   \$3.04
20-24   \$3.05
25-29   \$2.90
30-34   \$2.93
35-39   \$3.60
>=40    \$2.94
Name: Price, dtype: float64

In [19]:
age_group_total_df = purchase_data.groupby("Age Range")["Price"].sum()
age_group_total_df

Age Range
<10       \$77.13
10-14     \$82.78
15-19    \$412.89
20-24   \$1114.06
25-29    \$293.00
30-34    \$214.00
35-39    \$147.67
>=40      \$38.24
Name: Price, dtype: float64

In [20]:
customer_avg_df = age_group_total_df / age_summary_df
customer_avg_df.round(2)

Age Range
<10     \$4.54
10-14   \$3.76
15-19   \$3.86
20-24   \$4.32
25-29   \$3.81
30-34   \$4.12
35-39   \$4.76
>=40    \$3.19
dtype: float64

In [21]:
age_purchase_analysis_df = pd.DataFrame({"Purchase Count":age_group_count_df,
                            "Average Purchase Price":age_group_average_df,
                            "Total Purchase Value": age_group_total_df,
                            "Avg Total Per Customer": customer_avg_df})
age_purchase_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Per Customer
Age Range,,,,
<10,23,\$3.35,\$77.13,\$4.54
10-14,28,\$2.96,\$82.78,\$3.76
15-19,136,\$3.04,\$412.89,\$3.86
20-24,365,\$3.05,\$1114.06,\$4.32
25-29,101,\$2.90,\$293.00,\$3.81
30-34,73,\$2.93,\$214.00,\$4.12
35-39,41,\$3.60,\$147.67,\$4.76
>=40,13,\$2.94,\$38.24,\$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [22]:
players_purchase_count_df = purchase_data.groupby("SN").count()["Price"].rename("Purchase Count")
players_average_price_df = purchase_data.groupby("SN").mean()["Price"].rename("Average Purchase Price")
players_total_df = purchase_data.groupby("SN").sum()["Price"].rename("Total Purchase Value")

#Convert to DataFrame.

total_user_data_df = pd.DataFrame({"Purchase Count":players_purchase_count_df,
                                   "Average Purchase Price": players_average_price_df,
                                   "Total Purchase Value": players_total_df})

top_five_spenders = total_user_data_df.sort_values("Total Purchase Value", ascending=False)
top_five_spenders.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                  \$3.79               \$18.96
Idastidru52               4                  \$3.86               \$15.45
Chamjask73                3                  \$4.61               \$13.83
Iral74                    4                  \$3.40               \$13.62
Iskadarya95               3                  \$4.37               \$13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [23]:
#first make a df that summarizes/organizes all purchases 
items_purchase_count_df = purchase_data.groupby(["Item ID", "Item Name"]).count()["Price"].rename("Purchase Count")
items_average_price_df = purchase_data.groupby(["Item ID", "Item Name"]).mean()["Price"].rename("Average Purchase Price")
items_value_total_df = purchase_data.groupby(["Item ID", "Item Name"]).sum()["Price"].rename("Total Purchase Value")

# put into DataFrame

items_purchased_df = pd.DataFrame({"Purchase Count":items_purchase_count_df,
                                   "Item Price":items_average_price_df,
                                   "Total Purchase Value":items_value_total_df})

items_purchased_df.head()

                            Purchase Count  Item Price  Total Purchase Value
Item ID Item Name
0       Splinter                         4      \$1.28                \$5.12
1       Crucifer                         3      \$3.26                \$9.78
2       Verdict                          6      \$2.48               \$14.88
3       Phantomlight                     6      \$2.49               \$14.94
4       Bloodlord's Fetish               5      \$1.70                \$8.50

In [24]:
# Sort table to show the five the most popular items.

most_popular_items_df = items_purchased_df.sort_values("Purchase Count", ascending=False)
most_popular_items_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,\$4.23,\$50.76
145,Fiery Glass Crusader,9,\$4.58,\$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,\$3.53,\$31.77
82,Nirvana,9,\$4.90,\$44.10
19,"Pursuit, Cudgel of Necromancy",8,\$1.02,\$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [25]:
# Sort table to show the five the most profitable items. BUT I MEAN... this is highest sales, nothing to do with profit.  Just saying. 

most_profitable_items_df = items_purchased_df.sort_values("Total Purchase Value", ascending=False)
most_profitable_items_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,\$4.23,\$50.76
82,Nirvana,9,\$4.90,\$44.10
145,Fiery Glass Crusader,9,\$4.58,\$41.22
92,Final Critic,8,\$4.88,\$39.04
103,Singed Scalpel,8,\$4.35,\$34.80